@import '../../styles/colors.scss';

.playlistMainContainer{
    background-color: black;
    min-height: 100vh;
}

.playlistWrapper{
    max-width: 1224px;
    padding: 0 24px;
    margin: 0 auto;
}
.mainTitle{
    font-size: 20px;
    color: $textWhite
fff;
    line-height: 24px;
    font-weight: 600;
    padding: 32px 0;
}

.playlistItemContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}