.page{
  width: 100%;
  background: #050505;
  display: flex;
  justify-content: center;
}

.container{
  display: flex;
  max-width: 1224px;
  padding: 24px;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;

  @media (max-width: 1023px) {
  padding: 0 24px 24px 24px;
  }
}

.title{
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.head{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.list{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}