// PRIMARY COLORS

$primaryBackground: linear-gradient(88deg, #CD2461 2.09%, #314BD3 106.89%);
$primaryPink: #CD2461;
$primaryBlue: #314BD3;
$secondPrimaryPink: #E82567;
$primaryCyan: #3DDEED;


//SECONDARY COLORS

$secondaryBlack: #050505;
$secondaryLightBlack: #000000BD;
$secondaryDarkerGray: #1C1C1C;
$secondaryDarkGray: #2A2A2A;
$secondaryGray: #14072126;
$secondaryLightGray: #FFFFFF33;


//TEXT COLORS

$textBlack: #050505;
$textSecondary: #9F9F9F;
$textGray: #A8A8A8;
$textLightGray: #FFFFFF99;
$textWhite: #FFFFFF;
