@import "/app/styles/colors.scss";


.container {
   background: $primaryBackground;
   width: 100%;
}

.containerWrapper{
    max-width: 1300px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px 16px;
    align-items: center;
    gap: 54px;  
}

.containerWrapper audio{
    display: none;
}