@import "/app/styles/colors.scss";


.container {
  background: $primaryBackground;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  
}

.containerWrapper {
  max-width: 1300px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  gap: 25px;
  padding: 0 24px;
}

.containerWrapper audio {
  display: none;
}
