.sliderCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 176px;
    max-width: 100%;
}

.cardImage{
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
     @media (max-width: 667px) {
        height: 74px;
       }
}


.artistCardContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.imageSize{
    @media (max-width: 667px) {
        height: 40px;
       }
}




