.cardImage {
  border-radius: 10px;
  width: 128px;
  height: 126px;
  @media (max-width: 767px) {
    object-fit: cover;
    width: 40px;
    height: 40px;
  }
}

.title{

}


.artistCardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1C1C1C;
  padding: 24px;
  gap: 12px;
  border-radius: 12px;
  @media (max-width: 767px) {
    height: 78px;
    gap: 4px;
  }
}

@media (max-width: 767px) {

  .cardImage {
    object-fit: cover;
    width: 40px;
    height: 40px;
  }

  .artistCardContainer {
    max-width: 74px;
    height: 78px;
    padding: 10px 5px;
  }
}



