@import "/app/styles/colors.scss";

.btn{
    width: 369px;
    height: 56px;
    border-radius: 31px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 20px;
    line-height: 24.2px;
    font-weight: 600;
    margin-bottom: 16px;
}