.main {
    background: #050505;
    position: relative;
}

.heroContainer {
    position: relative;
}

.content {
    position: relative;
    max-width: 1224px;
    width: 100%;
    bottom: 132px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    margin-bottom: -132px;

    @media (max-width: 1023px) {
        margin-bottom: 0;
        position: sticky;
    }

    @media (max-width: 767px) {
        gap:24px;
        margin-bottom: 24px;
    }
}

.bg {
    background: #050505;
    width: 100%;
    display: flex;
    justify-content: center;
}
