@import 'app/styles/colors.scss';

.swiperTitleWrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;

    @media(max-width: 767px){
        margin-bottom: 0;
    }
}


.swiperTitleWrapper h4{
    color: white;
    font-size: 24px;
    font-weight: 500;
    line-height: 29.05px;

    @media(max-width: 767px){
        font-size: 16px;
    }
}

.swiperTitleWrapper img{
    cursor: pointer;
}