
.main{
    background-color: black;
    width: 100%;
    min-height: 100vh;
    padding: 32px 24px ;
    padding-bottom: 65px;
}

.albumDetails{
    display: flex;
    flex-direction: column;
    max-width: 1176px;
    margin: 0 auto;
    gap: 32px;
}

@media screen and (max-width: 767px) {
    .albumDetails{
        gap: 16px;
    }
}

