@import 'app/styles/colors.scss';

.main {
    width: 100%;
    background-color: black;
    height: 100%;
    padding: 24px 0 24px 16px;
}

.mainWrapper {
    max-width: 1176px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: 0 auto;
}

.albumTxt span {
    color: $textWhite;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.container {
    display: flex;
    gap: 32px 24px;
    flex-wrap: wrap;
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
    .container{
     gap: 24px 20px;
    }
 }

 
@media only screen and (max-width: 767px) {
   .container{
    gap: 20px 16px;
    overflow-y: scroll;
   }
}
