@import 'app/styles/colors.scss';

.musicPhoto{
    display: flex;
    align-items: center;
    gap: 24px;
}

.photo img{
    border-radius: 50%;
    object-fit: cover;
    width: 64px;
    height: 64px;
}

.musicInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
    white-space: nowrap;
}

.musicInfoWrapper{
    display: flex;
    align-items: center;
    gap: 16px;
}

.musicName{
    color: $textWhite;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 65px;
}

.artistName{
    color: $textWhite;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  
  
}


@media screen and (min-width:767px) and (max-width: 1024px) {
    .photo img{
        width: 48px;
        height: 48px;
    }

    .musicPhoto{
        gap: 16px;
    }
}




@media screen and (max-width:767px)  {
    .musicInfo{
        display: flex;
        gap: 6px;
        flex-direction: row;
        align-items: center;
    }

    .photo img{
        width: 32px;
        height: 32px;
    }

    .musicName{
        font-size: 12px;
    }
    
    .artistName{
        font-size: 11px;      
    }

    .musicInfoWrapper img{
        width: 19px;
        height: 19px;
    }

    .musicInfoWrapper{
        gap: 8px;
    }

    .musicPhoto{
        gap: 8px;
    }
   
}
