@import "/app/styles/colors.scss";

.input{
    width: 369px;
    height: 56px;
    border-radius: 31px;
    padding: 16px 24px;
    background-color: $input;
    outline: none;
    border: none;
    color: $inputText;
    font-size: 16px;
    line-height: 20px;
    font-weight: 300;
    // margin-bottom: 16px;

}