@import "../../styles/colors.scss";

.container {
  display: flex;
  max-width: 150px;
  width: 100%;
  height: 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 35px;
  border: none;
  color: #050505;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}


.big {
  max-width: 190px;
  width: 100%;
}

.pink {
  background: #E82567;
  color: #FFF;
  font-weight: 400;

  &:hover {
    background: $playButtonPinkHover;
  }

  &:active {
    background: $playButtonPinkClick;
  }
}

.blue {
  background: $cyanButton;

  &:hover {
    background: $cyanButtonHover;
  }

  &:active {
    background: $cyanButtonClick;
  }
}

.none{
  background: none;
  color: #FFF;
  border: 1px solid #FFF;

  &:hover{
    color: #000000;
  }

  &:active{
    color: #FFF;
  }
}

@media only screen and (max-width: 1023px) {

}


@media only screen and (max-width: 767px){
  .container{
    max-width: 124px;
    height: 32px;
    border: none
  }

  .icon{
    width: 16px;
    height: 16px;
  }
}