.adjustButtons {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
}

.adjustButtons img{
    width: 24px;
    height: 24px;
}

@media screen and (min-width: 767px) and (max-width: 1024px) {
    .adjustButtons{
        gap: 14px;
    }
}


@media screen and (max-width: 767px) {
    .adjustButtons{
        gap: 8px;
    }

    .adjustButtons img{
        width: 16px;
        height: 16px;
    }
}




