@import "../../../styles/colors.scss";

.progressBar {
  display: flex;
  align-items: center;
  gap: 8px;
  max-width: 900px;
  width: 100%;
}

.progressBar input {
  width: 100%;
}

.formatTxt {
  color: $textWhite;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media screen and (max-width: 767px) {
  .progressBar {
    display: none;
  }
}
