@import "../../../styles/colors.scss";

.container {
    display: flex;
    align-items: center;
    gap: 16px;
    
}

.container img {
    cursor: pointer;

}

.range {
    border-radius: 2px;
    width: 100%;
    appearance: none;
    cursor: pointer;
    height: 3px;
    overflow: hidden;
}
.range::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 0.1px;
    box-shadow: -400px 0 0 400px $cyanButtonHover;
}



@media screen and (max-width: 768px) {
    .container {
        display: none;
    }
}