@import "/app/styles/colors.scss";

.rightBlock{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100vh;
    @media (max-width: 1024px) {
     width: 100%;;
    }
}

.form{
  display: flex;
  flex-direction: column;
}
.inputDiv{
  min-height: 74px;
}



.text{
    font-size: 14px;
    font-weight: 400;
    color: $secondaryBlack;
    line-height: 20px;

}

.linkTag{
    color: #3580CA;
    text-decoration: underline;
}

.secondDiv {
    width: 50%;
    background-color: $secondaryBlack;
    background-image: url('./../../../public/images/objects.png'); 
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    text-align: center;
    @media (max-width: 1024px) {
      display: none;
    }
  }


  .error{
    color: red;
    font-weight: 300;
    font-size: 14px;
    width: 300px;
    padding-left: 24px;
    margin-bottom: 16px;
    margin-top: 8px;
  }
  .secondDiv h2{
    color: $textWhite;
    font-size: 24px;
    line-height: 28px;
    font-weight: 600;
    margin-bottom: 16px;
  }
  .secondDiv p{
    color: $textWhite;
    font-size: 20px;
    line-height: 24.2px;
    font-weight: 400;
    width: 369px;
    margin-bottom: 16px;
  }