.playlistItem{
  display: flex;
  max-width: 1176px;
  width: 100%;
  padding: 12px 16px;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  background: #1C1C1C;
}

.leftSection{
  display: flex;
  align-items: center;
  gap: 16px;
}

.image{
  width: 56px;
  height: 56px;
}

.icon{
  width:24px;
  height:24px;
}

.dots{
  width: 32px;
  height: 32px;
}

.imageSection{
  display: flex;
  align-items: center;
  gap: 32px;
}

.text{
  color: #FFF;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.rightSection{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.time{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.heart{
  fill: white;
}


