@import '../../styles/colors.scss';

.x {
  width: 32px;
  height: 32px;
  display: flex;
  padding: 4px;
  border: 1px solid $xButton;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: $xButton;
  justify-content: center;
  cursor: pointer;

  &:hover {
    background: $xButtonHover;
    border: 1px solid $xButtonHover;
  }

  &:active {
    background: $xButtonActive;
    border: 1px solid $xButtonActive;
  }
}

.bgNone{
  background: inherit;
  border: none;
}

@media only screen and (max-width: 767px) {

  .x {
    padding: 0;
    width: 24px;
    height: 24px;
  }
}