@import "../../../styles/colors.scss";

.main {
  width: 100%;
  background: $textBlack;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 32px;
  position: relative;
  
}

.hero {
  max-width: 1224px;
  width: 100%;
  padding: 32px 24px;
}

.MusicWrapper {
    max-width: 1224px;
    padding: 32px 24px;
    width: 100%;
}

