@import 'app/styles/colors.scss';

.nav {
    display: flex;
    align-items: center;
    gap: 32px;
}

.nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 32px;
}

.container{
    background: none;
    width: 100%;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 40px;
    padding: 14px 132px;
}


.navImg {
    cursor: pointer;
}