@import 'app/styles/colors.scss';

.nav {
  display: flex;
  align-items: center;
  gap: 32px;
}

.items {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 32px;
}

.linearContainer {
  background: linear-gradient(92deg, #E82567 -8.96%, #3453EA 107.31%);
}

.container {
  width: 100%;
  background: #050505;
}

.search_log {
  display: flex;
  gap: 16px;
  max-width: 515px;
  width: 100%;
  align-items: flex-end;
}

.burgerIcon {
  display: none;
}

.wrapper {
  max-width: 1224px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  padding: 14px 24px;
}

.navImg {
  cursor: pointer;
}

.museTablet{
  display: none;
}

.musePhone{
  display: none;
}

.burger {
  display: none;
}

@media (max-width: 1023px) {
  .wrapper {
    padding: 24px;
  }

  .navImg{
    display: none;
  }

  .museTablet{
    display: block;
  }

  .hiden {
    display: none;
  }

  .items {
    display: none;
  }

  .burger {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    animation-delay: 0.6s;
    transition: max-height 0.6s ease, opacity 0.7s ease;
  }

  .isOpen {
    background: #1C1C1C;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    padding: 24px;
    max-height: 300px;
    opacity: 1;
  }

  .logOut {
    display: none;
  }

  .burger_logOut {
    display: block;
  }

  .burgerIcon {
    display: block;
  }

  .linearContainer {
    background: #050505;
  }
}

@media (max-width: 767px) {
  .wrapper {
    padding: 16px;
  }

  .nav{
    gap: 0;
  }

  .burgerIcon{
    width: 24px;
    height: 24px;
  }

  .musePhone{
    display: block;
  }

  .museTablet{
    display: none;
  }
}

