.wrapper {
    max-width: 467px;
    width: 100%;
    position: relative;
    border-radius: 24px;

}

.container {
    max-width: 467px;
    margin: auto;
    border-radius: 24px;
    background-color: rgba(20, 7, 33, 0.15);    ;
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 10px 16px;
}

.container input {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    background: none;
    color: #fff;
    font-size: 16px;
}

.searchIcon {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.container input::placeholder {
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.results {
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    right: 0;
    border-radius: 24px;
    background: rgba(5, 5, 5, 0.9);
    border: none;
    overflow-y: auto;
    z-index: 1;
    padding: 8px 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 12px;
    animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
}

.results li {
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    padding: 12px 16px;
    cursor: pointer;
}

.results li:hover {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
}

.noResults {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    padding: 12px 16px;
}

@media(max-width: 767px) {
    .container {
        padding: 8px;
        gap: 8px;
    }

    .searchIcon {
        width: 12px;
        height: 12px;
    }

    .container input::placeholder {
        font-size: 14px;
    }
    
    .results li {
        font-size: 14px;
        padding: 8px 12px;
    }
}